*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#fffaf3;
    color:#333;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

header{
    background:white;
    padding:15px 0;
}

header .container{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    width:180px;
}

nav a{
    text-decoration:none;
    color:#5a1a12;
    margin-left:25px;
    font-weight:bold;
}

.banner{
    padding:80px 20px;
    background:linear-gradient(#fff0d5,#fffaf3);
}

.banner h1{
    font-size:45px;
    color:#a52a2a;
}

.banner p{
    margin:20px 0;
    font-size:18px;
}

.botao{
    background:#b52222;
    color:white;
    padding:15px 30px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}
